@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

.background {
    background-image: 'url(../img/background_image.jpg)';

}

.MuiInputBase-input {
    padding-top: 10px !important;

}

.MuiInputBase-root {
    background-color: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.MuiInputBase-input::placeholder {
    font-size: 20px !important;
}

.credit-card-input {
    background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;
   padding-bottom: 5px;
   border-bottom: 1px solid black !important;;
}
.credit-card-input::placeholder {
    color: black;
    font-weight: semibold;   
}
/* .sc-hLBbgP:nth-child(4){
    display: none !important;
}
.sc-hLBbgP:nth-child(3){
    display: none !important;
}
#card-expiry{
    display: none !important;
}
#cvc{
    display: none !important;
} */
.input:focus-visible{
    
    outline: none !important;
}